In [20]:
import pandas as pd
df= pd.read_csv("Fish.csv")
df.dropna(inplace=True)
df.head()

  Species  Weight  Length1  Length2  Length3   Height   Width
0   Bream   242.0     23.2     25.4     30.0  11.5200  4.0200
1   Bream   290.0     24.0     26.3     31.2  12.4800  4.3056
2   Bream   340.0     23.9     26.5     31.1  12.3778  4.6961
3   Bream   363.0     26.3     29.0     33.5  12.7300  4.4555
4   Bream   430.0     26.5     29.0     34.0  12.4440  5.1340

In [21]:
#Setting the value for X (independant vars) and Y (dependant one)
x = df[['Length1', 'Length2', 'Length3','Height','Width']]
y = df['Weight']

In [22]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()  
model.fit(x, y)

LinearRegression()

In [23]:
# r^2 value
print (f"The value of r^2: {model.score(x,y)}")

The value of r^2: 0.8852867046546207

In [24]:
# coefs of each of the indep vars
print(f"The value of each of the coef: {model.coef_}")

# coef of b
print(f"The value of b: {model.intercept_}")

The value of each of the coef: [ 62.35521443  -6.52675249 -29.02621861  28.29735132  22.47330665]
The value of b: -499.5869553569422